html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  width: 100vw;
  line-height: 1.6;
}

.nav__header {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -1rem;
  padding: 0;
  position: relative;
  width: 100%;
  height: 180px;
}

.nav__header:before {
  content: "";
  background-image: url("../images/photo-band4.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}

.nav {
  @apply grid grid-cols-3 mx-20 my-auto;
}
.card {
  @apply w-full md:w-2/5 mx-5  mb-10 bg-primary rounded-xl shadow overflow-hidden border;
}

.title {
  @apply lg:text-8xl md:text-7xl sm:text-7xl text-6xl text-center  text-brand;
}

.textShadow {
  text-shadow: 1px 1px 1px #3f36367a, 1px 2px 1px #3f36367a,
    1px 3px 1px #3f36367a, 1px 4px 1px #3f36367a, 1px 5px 1px #3f36367a,
    1px 6px 1px #3f36367a, 1px 7px 1px #3f36367a, 1px 8px 1px #3f36367a,
    1px 9px 1px #3f36367a, 1px 10px 1px #3f36367a,
    1px 18px 6px rgba(16, 16, 16, 1), 1px 22px 10px rgba(16, 16, 16, 1),
    1px 25px 35px rgba(16, 16, 16, 1), 1px 30px 60px rgba(16, 16, 16, 1);
}
